* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
.wrapper {
  padding: 0px 10px;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.lenguage-con{
  padding: 5px;
  color:rgba(102, 102, 102, 1);
  border-radius: 5px;
}
.burger__list-link {
  font-size: 25px;
  color: #00000098;
  font-weight: 700;
  margin: 50px;
  padding-bottom: 50px 0;
}
 nav{
  box-shadow: 0 0 15px #5e59592a;
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;

}
.nav__logo {
  display: flex;
  align-items: start;
  gap: 8px;
}
.nav__list {
  display: flex;
  gap: 24px;
  margin-bottom: 0px;
  padding: 0px 5px;
}
.nav__link {
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
}
.nav-link-list {
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
}
.nav__main-link {
  padding: 12px 67px;
  background: rgba(51, 96, 255, 1);
  border-radius: 20px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .nav__main-link {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav__content {
    display: flex;
    gap: 20px;
    padding: 24px 0px;
    align-items: center;
  }
  .nav__main-link {
    padding: 12px 67px;
  }
}

@media screen and (max-width: 480px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }

  .nav__main-link {
    display: none;
  }
}

.nav__logo-title {
  margin-bottom: 0px;
}
@media screen and (max-width: 370px) {
  .nav__logo-title {
    font-size: 20px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Burger navigation */
.nav__list-burger-navigation {
  background: #fff;
  box-shadow: 0 0 10px 5px #11001159;
  position: fixed;
  top: 0;
  right: -300px;
  max-width: 300px;
  width: 100%;
  height: 100dvb;
  transition: 1s;
}
.nav__list-burger {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.activeburger {
  right: 0;
}

.btn_burger {
  border: none;
  border-radius: 0px;
}
.btn__active-burger {
  display: none;
}
.nav__list-burger-navigation {
  display: none;
}
.btn__list-burger-exit {
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  color: #000000d7;
  font-weight: 700;
  font-size: 30px;
  margin: 10px 0 30px 265px;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .btn__active-burger {
    width: 30px;
    height: 30px;
    display: flex;
    background: none;
    border: none;
    border-radius: 0;
  }
  .nav__list-burger-navigation {
    display: flex;
    flex-direction: column;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~header~~~~~~~~~~~~~~~~~~ */
.header__content-left-title {
  max-width: 538px;
  width: 100%;
  color: rgba(51, 117, 255, 1);
  font-size: 64px;
  line-height: 72px;
}
.header__content-left-text {
  max-width: 320px;
  width: 100%;
  font-size: 22px;
  top: 376px;
  left: 40px;
  margin-top: 32px;
}
.header__content-right-img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .header__content-right-img {
    width: 90%;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  padding: 156px 0;
}
.left__link {
  padding: 13px 50px;
  color: rgba(255, 255, 255, 1);
  background: rgba(51, 117, 255, 1);
  border-radius: 62px;
  font-size: 18px;
}
.left__img {
  padding: 12px 28px;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 62px;
}
.left__box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 244px;
}
@media (max-width: 992px) {
  .header__content {
    flex-direction: column-reverse;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
  }
  .header__content-right-img {
    width: 100%;
  }
  .header__content-left-text {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 28px;
  }
  .left__box {
    margin-top: 35px;
    justify-content: center;
  }
  .header__content-left-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 450px;
    font-size: 34px;
    width: 100%;
    line-height: 42px;
  }
}
.section1__content-title {
  font-size: 40px;
  padding-bottom: 32px;
  color: rgba(2, 12, 49, 1);
  border-bottom: 1px solid rgba(204, 204, 204, 1);
}
.section1__card-title {
  color: rgba(2, 12, 49, 1);
  font-size: 24px;
  padding-top: 20px;
}
.section1__card-text {
  max-width: 300px;
  width: 100%;
  color: rgba(103, 109, 131, 1);
  padding-top: 8px;
}

.section1__content-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
@media (max-width: 992px) {
  .section1__content-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .section1__content-title {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
  }
  .section1__content-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .section1__card-text {
    max-width: 400px;
    width: 100%;
  }
}
.section1__picture {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/img/disinfection-sanitization-spraying-900x450.png) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  width: 100%;
  padding: 60px 0 120px 668px;
  margin-top: 96px;
}
@media (max-width: 1200px) {
  .section1__picture {
    padding: 60px 0 120px 468px;
  }
}

.section1__picture-title {
  max-width: 384px;
  width: 100%;
  font-size: 40px;
  color: rgba(250, 250, 250, 1);
}
.section1__picture-text {
  max-width: 309px;
  width: 100%;
  color: rgba(250, 250, 250, 1);
  font-size: 20px;
  margin: 20px 0 150px 0;
}
@media (max-width: 768px) {
  .section1__picture {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }
  .section1__picture-title {
    font-size: 30px;
  }
  .section1__picture-text {
    font-size: 26px;
    margin: 35px;
  }
}

.section2__content {
  padding: 120px 0 48px 32px;
}
.section2__content-title {
  font-size: 52px;
  color: rgba(2, 12, 49, 1);
}
.section2__content-text {
  max-width: 300px;
  width: 100%;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
}
.section2__cards {
  display: flex;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 992px) {
  .section2__cards {
    flex-direction: column;
    align-items: center;
  }
}
.section2__card {
  position: relative;
  max-width: 443px;
  width: 100%;
  background: rgba(243, 246, 246, 1);
  height: 350px;
  border-radius: 12px;
}

.section2__card-title {
  max-width: 330px;
  width: 100%;
  color: rgba(2, 12, 49, 1);
  margin-bottom: 20px;
  font-size: 32px;
}
.section2__card-subtitle {
  color: rgba(5, 106, 199, 1);
  font-size: 16px;
}
.section2__card-box {
  padding: 48px 0 0 32px;
}
.section2__card-text {
  color: rgba(5, 106, 199, 1);
  font-size: 16px;
  margin-top: 8px;
}
.section2__card-img2 {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
.section2__main-box {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .section2__content {
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .section2__card {
    max-width: 800px;
    width: 100%;
    height: 300px;
  }
  .section2__content-title {
    font-size: 36px;
    color: rgba(2, 12, 49, 1);
  }
}
.box__right-text {
  max-width: 474px;
  width: 100%;
  color: rgba(250, 250, 250, 1);
  font-size: 32px;
  padding: 12px 0 136px 0;
}
.section2__main-box {
  background: radial-gradient(
    95.44% 490.36% at 92.87% 11.25%,
    #33a9ff 0%,
    #33fff3 100%
  );
  border-radius: 16px;
  margin-top: 120px;
  margin-bottom: 146px;
}

.main-box-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.main-box-left img {
  padding: 32px;
}
@media (max-width: 992px) {
  .section2__main-box {
    flex-direction: column;
    padding: 20px 0px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .main-box-right {
    align-items: center;
  }
  .box__right-text {
    text-align: center;
    padding: 25px 0px;
    font-size: 26px;
    padding: 0px 10px;
  }
  @media screen and (max-width: 768px) {
    .box__right-text {
      font-size: 18px;
    }
  }
  .main-box-left img {
    padding: 32px;
    margin: 0 auto;
    display: block;
    width: 80%;
    height: 400px;
  }
}
@media (max-width: 480px) {
  .main-box-left img {
    width: 100%;
    height: 100%;
  }
}
.footer__content {
  display: flex;
  margin-top: 29px;
}
.footer__content-right {
  margin-left: 107px;
}
.footer__content-left {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 252px;
}
.footer__content-right-img {
  padding: 11px;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 8px;
}
.footer__content-right-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.footer__content-right-box2 {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
}
.footer__content-right-box3 {
  display: flex;
  gap: 16px;
  margin-bottom: 52px;
}
@media (max-width: 1200px) {
  .footer__content-right-box3 {
    flex-direction: column;
  }
}

.right__box3-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--Text-1, rgba(36, 40, 37, 1));
}
.right__box3-link-list {
  display: flex;
  gap: 16px;
  padding: 12px 93px;
  background: var(--Fon-Sery, rgba(242, 242, 242, 1));
  border-radius: 30px;
}
@media (max-width: 768px) {
  .footer__content-left {
    margin-bottom: 30px;
    margin: 0 auto;
  }
  .footer__content-right-box3 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }
  .footer__content-right {
    margin-left: 0px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .right__box3-link-list {
    width: 100%;
    justify-content: center;
  }
}

.section4__title {
  max-width: 350px;
  width: 100%;
  color: var(--Text-1, rgba(36, 40, 37, 1));
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.section4__input {
  max-width: 400px;
  width: 100%;
  padding: 12px 0 12px 20px;
  background: var(--Fon-Sery, rgba(242, 242, 242, 1));
  color: var(--Description, rgba(128, 128, 128, 1));
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}
.section4__checkbox {
  width: 16px;
  height: 16px;
}
.section4__subtitle {
  color: rgba(36, 40, 37, 0.8);
  font-size: 14px;
  font-weight: 400;
}
.section4__checkbox-main {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 15px;
}
.section4__link {
  max-width: 400px;
  width: 100%;
  padding: 12px 167px;
  background: var(--Text-1, rgba(36, 40, 37, 1));
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section4__left {
  display: flex;
  flex-direction: column;
  max-width: 456px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  padding: 30px 24px;
  border-radius: 8px;
}
.section4__content {
  display: flex;
  position: relative;

  background: radial-gradient(
    58.39% 328.01% at 51.32% 69.21%,
    #3da0fc 0%,
    rgba(2, 227, 214, 0.2) 100%
  );
  padding: 32px;
}

.section4__right-title {
  color: rgba(250, 250, 250, 1);
  max-width: 300px;
  width: 100%;
  font-weight: 500;
  font-size: 26px;
  margin-left: 200px;
  margin-bottom: -160px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1200px) {
  .section4__right-title {
    margin-left: 100px;
  }
}
.section4__img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media (max-width: 992px) {
  .section4__content {
    flex-direction: column;
    height: 700px;
    padding: 10px;
  }
  .section4__right-title {
    margin-left: 0px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 21px;
    text-align: center;
    color: white;
  }
  .section4__left {
    margin: 0 auto;
    gap: 20px;
  }
  .section4__img {
    max-width: 300px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .section4__link {
    max-width: 400px;
    width: 100%;
    padding: 12px;
  }
  .section4__title {
    font-size: 26px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}
