@media screen and (max-width: 1024px){
    .section4__right-title{
        margin-left: 15px;
    }
    .section4__img {
        margin-left: 140px;
    }
    .footer__content-right-box3{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .header__content-right img{
        width: 400px;
    }
}
@media screen and (max-width: 992px){
    .section2__card{
        width: 303px;
    }
}
@media screen and (max-width: 768px){
    .section1__picture {
        padding-left: 13px;
        margin-left: 30px;
    }
    .section2__cards{
        flex-wrap: wrap;
    }
    .section2__main-box,.main-box-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
    }
    .section4__content{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
@media screen and (max-width: 480px){
.nav__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header__content{
    display: flex;
    flex-direction: column;

}
.header__content-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.left__box{
    margin-top: 60px;
    margin-bottom: 20px;
} 
.section1__content-cards{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__content-right img{
    width: 400px;
    height: 400px;
    margin-left: 40px;
}
.section1__picture {
    padding-left: 63px;
    margin-left: 30px;
}
.section2__cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 30px;
}
.main-box-left img {
    width: 450px;
    height: 450px;
}
.section2__main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-box-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left__link{
    margin-bottom: 50px;
}
.section4__content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.section4__left {
    margin-left: -15px;
    width: 442px;
}
.section4__right{
    margin-left: -210px;
}
.section4__img {
    margin-left: 304px;
}
.section4__right-title {
width: 243px;
}
.footer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.footer__content-left{
    margin-bottom: 0;
}
.footer__content-right-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}
}
@media screen and (max-width: 320px){
    .header__content-left-title{
        font-size: 25px;
    }
    .left__box{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section1__picture-title{
        font-size: 15px;
        width: 299px;
    }
    .section1__picture{
width: 285px;
    }
    .section1__picture{
        padding-left: 15px;
    }
    .section4__title {
        font-size: 20px;
    }
    .section4__input{
        width: 220px;
    }
    .section4__link {
        width: 300px;
        padding: 12px 0;
    }
    .section4__left{
        width: 280px;
    }
    .section4__right{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .header__content-right img {
        width: 375px;
        height: 356px;
        margin-left: 25px;
    }
    .section1__picture-text {
        width: 265px;}
        .main-box-left img{
width: 300px;
height: 300px;
        }
        .box__right-text{
            width: 278px;
        }
}